In [1]:
import pandas as pd

usecols=['Respondent',        #id
  'FormalEducation',    #degree
  'UndergradMajor',     #major
  'LanguageWorkedWith', 'DatabaseWorkedWith', 'PlatformWorkedWith', 'IDE', 'OperatingSystem', #skills
  'YearsCoding',        #projectExperience
  'Hobby',              #hobby
  'DevType',            #desiredJob
  ]

df = pd.read_csv('user_clean.csv', usecols=usecols)
df = df.rename(columns={
  'Respondent': 'id',
  'FormalEducation': 'degree',
  'UndergradMajor': 'major',
  'LanguageWorkedWith': 'skills_1',
  'DatabaseWorkedWith': 'skills_2',
  'PlatformWorkedWith': 'skills_3',
  'IDE': 'skills_4',
  'OperatingSystem': 'skills_5',
  'YearsCoding': 'projectExperience',
  'Hobby': 'hobby',
  'DevType': 'desiredJob',
})

df.head()

,id,hobby,degree,major,desiredJob,projectExperience,skills_1,skills_2,skills_3,skills_4,skills_5
0,569,Yes,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",Data scientist or machine learning specialist;...,12-14 years,C++;Julia;Python,NaN,Linux,Atom;IntelliJ;Notepad++;PyCharm;Sublime Text,Linux-based
1,1142,Yes,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Back-end developer;Front-end developer;Full-st...,6-8 years,C++;Java;JavaScript;SQL;HTML;CSS;Bash/Shell,MongoDB;Oracle;Google Cloud Storage;Elasticsearch,NaN,Eclipse;IntelliJ;Notepad++;Vim,Linux-based
2,1886,Yes,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Back-end developer;Desktop or enterprise appli...,3-5 years,C#;JavaScript;HTML;CSS,SQL Server;MySQL;SQLite,Windows Desktop or Server,Visual Studio,Windows
3,2208,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",Back-end developer;Front-end developer;Full-st...,9-11 years,NaN,NaN,NaN,NaN,NaN
4,3285,Yes,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Back-end developer;Front-end developer;Full-st...,9-11 years,C#;JavaScript;Python;SQL;TypeScript;HTML;CSS,SQL Server,Android;AWS;Google Cloud Platform/App Engine;W...,Android Studio;Notepad++;Visual Studio;Visual ...,Windows

In [2]:
df_onehot = pd.get_dummies(df['degree'])
df['degree'] = df_onehot.apply(lambda x: x.values.tolist(), axis=1)
df_onehot = pd.get_dummies(df['major'])
df['major'] = df_onehot.apply(lambda x: x.values.tolist(), axis=1)
df_onehot = pd.get_dummies(df['projectExperience'])
df['projectExperience'] = df_onehot.apply(lambda x: x.values.tolist(), axis=1)

In [3]:
df['skills_1'] = df['skills_1'].str.split(';')
df['skills_2'] = df['skills_2'].str.split(';')
df['skills_3'] = df['skills_3'].str.split(';')
df['skills_4'] = df['skills_4'].str.split(';')
df['skills_5'] = df['skills_5'].str.split(';')

df['skills'] = df[['skills_1', 'skills_2', 'skills_3', 'skills_4', 'skills_5']].apply(lambda x: sum([i for i in x if isinstance(i, list)], []), axis=1)
df.drop(columns=['skills_1', 'skills_2', 'skills_3', 'skills_4', 'skills_5'], inplace=True)
# df = pd.concat([df_onehot, df['skills']], axis=1)

In [4]:
df['hobby'] = df['hobby'].apply(lambda x: 'True' if x == 'Yes' else 'False')
df['desiredJob'] = df['desiredJob'].str.split(';')
df['desiredJob'] = df[['desiredJob']].apply(lambda x: sum([i for i in x if isinstance(i, list)], []), axis=1)
# df['desiredJob'] = df['desiredJob'].apply(lambda x: [] if pd.isnull(str(x)) else x)
df

,id,hobby,degree,major,desiredJob,projectExperience,skills
0,569,True,"[False, False, False, True, False, False, Fals...","[False, False, False, False, False, True, Fals...",[Data scientist or machine learning specialist...,"[False, True, False, False, False, False, Fals...","[C++, Julia, Python, Linux, Atom, IntelliJ, No..."
1,1142,True,"[False, True, False, False, False, False, Fals...","[False, False, False, False, False, False, Tru...","[Back-end developer, Front-end developer, Full...","[False, False, False, False, False, False, Fal...","[C++, Java, JavaScript, SQL, HTML, CSS, Bash/S..."
2,1886,True,"[False, True, False, False, False, False, Fals...","[False, False, False, False, False, False, Tru...","[Back-end developer, Desktop or enterprise app...","[False, False, False, False, False, False, Fal...","[C#, JavaScript, HTML, CSS, SQL Server, MySQL,..."
3,2208,False,"[False, False, True, False, False, False, Fals...","[False, False, False, False, False, False, Fal...","[Back-end developer, Front-end developer, Full...","[False, False, False, False, False, False, Fal...",[]
4,3285,True,"[False, True, False, False, False, False, Fals...","[False, False, False, False, False, False, Tru...","[Back-end developer, Front-end developer, Full...","[False, False, False, False, False, False, Fal...","[C#, JavaScript, Python, SQL, TypeScript, HTML..."
...,...,...,...,...,...,...,...
371,92636,True,"[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...",[],"[False, False, False, False, False, False, Fal...",[]
372,93890,True,"[False, False, True, False, False, False, Fals...","[False, False, False, False, False, False, Fal...",[],"[False, False, False, False, False, False, Fal...",[]
373,95669,True,"[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...",[],"[False, False, False, False, False, False, Fal...",[]
374,96508,True,"[False, False, False, False, False, False, Fal...","[False, False, False, False, False, False, Fal...",[],"[False, False, False, False, False, False, Fal...",[]
375,96947,True,"[False, True, False, False, False, False, Fals...","[False, False, False, False, False, False, Fal...",[],"[False, False, False, False, False, False, Fal...",[]

In [5]:
df.to_csv('user_precessed.csv', index=False)

In [6]:
import pandas as pd
import numpy as np
from scipy.special import softmax

# Function to calculate Jaccard similarity for binary vectors (one-hot encoded)
def jaccard_similarity_binary(vector1, vector2):
    set1, set2 = set(np.where(vector1 == 1)[0]), set(np.where(vector2 == 1)[0])
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 0
    return intersection / union

# Function to calculate Jaccard similarity for lists of strings
def jaccard_similarity(list1, list2):
    set1, set2 = set(list1), set(list2)
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 0
    return intersection / union

# Load the dataset
file_path = 'user_onehot.csv'
df = pd.read_csv(file_path)

# Convert string representations of lists back to actual lists
list_columns = ['degree', 'major', 'desiredJob', 'projectExperience', 'skills']
for col in list_columns:
    df[col] = df[col].apply(lambda x: eval(x) if isinstance(x, str) else x)

# Separate the new user (last row) from the rest of the data
new_user = df.iloc[0]
# new_user.id = 0
# new_user.hobby = 
# new_user.degree = 
# new_user.major =
# new_user.desiredJob =
# new_user.projectExperience =
# new_user.skills =
other_users = df

# Similarity calculation for each feature

# 1. Similarity for 'hobby' (boolean comparison)
hobby_similarity = other_users['hobby'].apply(lambda x: 1 if x == new_user['hobby'] else 0)

# 2. Similarity for one-hot encoded features (degree, major, projectExperience)
onehot_similarity = []
for idx, other_user in other_users.iterrows():
    degree_sim = jaccard_similarity_binary(np.array(new_user['degree']), np.array(other_user['degree']))
    major_sim = jaccard_similarity_binary(np.array(new_user['major']), np.array(other_user['major']))
    project_sim = jaccard_similarity_binary(np.array(new_user['projectExperience']), np.array(other_user['projectExperience']))
    onehot_similarity.append((degree_sim + major_sim + project_sim) / 3)

# 3. Similarity for lists of strings (desiredJob, skills)
list_similarity = []
for idx, other_user in other_users.iterrows():
    desiredJob_sim = jaccard_similarity(new_user['desiredJob'], other_user['desiredJob'])
    skills_sim = jaccard_similarity(new_user['skills'], other_user['skills'])
    list_similarity.append((desiredJob_sim + skills_sim) / 2)

# Combine similarities with equal weights
total_similarities = hobby_similarity / 6 + np.array(onehot_similarity) / 2 + np.array(list_similarity) / 3

# Create a DataFrame to display similarities
similarities_df = pd.DataFrame({
    'UserIndex': other_users.id,
    'HobbySimilarity': hobby_similarity,
    'OneHotSimilarity': onehot_similarity,
    'ListSimilarity': list_similarity,
    'TotalSimilarity': total_similarities
})

# Sort by total similarity
similarities_df = similarities_df.sort_values(by='TotalSimilarity', ascending=False)

# Display the top results
# Apply softmax to the 'TotalSimilarity' column
similarities_df['TotalSimilarity_softmax'] = softmax(similarities_df['TotalSimilarity'])

# Display the top results
similarities_df

,UserIndex,HobbySimilarity,OneHotSimilarity,ListSimilarity,TotalSimilarity,TotalSimilarity_softmax
0,569,1,1.000000,1.000000,1.000000,0.005982
41,18677,1,0.666667,0.302632,0.600877,0.004013
38,17919,1,0.333333,0.388889,0.462963,0.003496
231,84344,1,0.333333,0.375000,0.458333,0.003480
15,5885,1,0.333333,0.298246,0.432749,0.003392
...,...,...,...,...,...,...
312,71266,0,0.000000,0.000000,0.000000,0.002201
313,71522,0,0.000000,0.000000,0.000000,0.002201
316,77648,0,0.000000,0.000000,0.000000,0.002201
327,8215,0,0.000000,0.000000,0.000000,0.002201
320,82112,0,0.000000,0.000000,0.000000,0.002201